version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  cooldown:
    default-days: 7
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    types:
      patterns:
        - "types-*"
    pytest:
      patterns:
        - "pytest*"

- package-ecosystem: "github-actions"
  directory: "/"
  cooldown:
    default-days: 7
  schedule:
    interval: "weekly"
  open-pull-requests-limit: 10
